  <div class="posts">
    <h3 class="post-heading">Edit Post:</h3>

    <form class="new-project-form">
      <div class="form-group">
        <label for="project-name">Post Title:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" value="{{post.title}}" />
      </div>
      <div class="form-group">
        <label for="project-desc">Content:</label>
        <textarea class="form-input" id="project-desc" name="project-desc">{{post.description}}</textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="button" data-id="{{post.id}}" class="delete-btn">Delete</button>
      </div>
    </form>
  </div>

  <script src="/js/edit.js"></script>