/* Hex codes:
    green #dbebd4
    black #241712
    dark grey #636363
    light grey #a3a3a3
*/
* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dbebd4;
    color: #241712;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: inline-block;
    width: 100%;
    background-color: #241712;
    padding: 25px;
    margin: 10px;
}

.header-text {
    color: #dbebd4;
    background-color: #241712;
    padding-right: 25px;
}

header nav {
    background-color: #241712;
    color: #dbebd4;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
}

h1 {
    background-color: #dbebd4;
    color: #241712;
    padding: 4px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px #a3a3a3;
    max-width: 15rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.posts {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

.title {
    padding: 5px;
}

.post-heading {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    color: #dbebd4;
    background-color: #241712;
}

.post-body {
    border: 3px solid #241712;
    padding: 15px;
}

.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #dbebd4;
    text-decoration: none;
    font-size: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    width: 50%;
}

.signup {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    width: 50%;
}

.form {
    width: 100%;
    border: 3px solid #241712;
    padding: 15px;
}

.form-input {
    min-width: 100%;
    background-color: white;
    color: #241712;
    border-radius: 3px;
    border-color: white;
    padding-top: 10px;
}

.heading {
    padding: 10px;
    color: #dbebd4;
    background-color: #241712;
}

.btn {
    width: 100%;
    color: whitesmoke;
    background-color: #636363;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 100%;
    padding: 5px;
}

.delete-btn {
    width: 100%;
    color: whitesmoke;
    background-color: #241712;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 100%;
    padding: 5px;
}

.text {
    font-size: 100%;
}

.form-group {
    padding-top: 5px;
    margin: 1px;
}

.add-comment {
    margin-top: 10px;
}

.buffer {
    padding-top: 5px;
}

.credit {
    padding-left: 9px;
}

.spacer {
    padding-top: 3px;
    padding-bottom: 2px;
}

@media screen and (max-width: 768px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }

    .login {
        width: 100%;
    }

    .signup {
        width: 100%;
    }
}